ul.context-menu{
    margin:0;
    background-color:white;
    border:1px solid #c0c0c0;
    padding:5px;
    position:absolute;
    z-index:3;
    display:none;
}

.context-menu li{
    border:0;
    margin:0;
    list-style: none;
    display:table-row;
}

.context-menu li:hover{
    background-color:#31b0d5;
}

.context-menu li:hover a{
    color:white;
}

.context-menu a{
    text-decoration:none;
    color:#262626;
    margin:10px;
    pointer-evetns:none;
}

.context-menu .divider{
    margin:0;
}

.category-container{
    border:1px solid #029ae7;
    padding:2px;
    overflow:hidden;
}

.category{
    border:1px solid #9dcbac;
    background-color:#e9eade;
    display:inline-block;
    margin:2px 2px 2px 2px;
    padding-top:2px;
}

.category:hover{
    cursor:pointer;
}

.category-close{
    display:block !important;
    float:right;
    text-align:center;
    height:auto;
    padding-left:5px;
    padding-right:5px;
    font-weight: bolder;
}

.category-close:hover{
    background-color:#fbd850;
}


span.close{
   float:none;
}

.modal-dialog.absolute{
    position:absolute;
}

.modal-dialog.top-left{ /*top left*/
    top:0;
    left:2%;
}

.modal-dialog.top-center{ /*top center*/
    top:0;
    left:25%;
}

.modal-dialog.top-right{ /*top right*/
    top:0;
    right:2%;
}

.modal-dialog.center-left{/*center left*/
    top:25%;
    left:3%;
}

.modal-dialog.center-center{   /*center center*/
    top:25%;
    left:25%;
}

.context-menu-item:hover{
    background-color:#AAAAAA;
    cursor:pointer;
}

#content .navbar {
    border-radius: 0 !important;
}

.canvas-aligner{
    width:100%;
}

.canvas-container{
    max-width:100%;
    min-height:200px;
    overflow:hidden;
    position:relative;
    padding:0;
}

.transparent-pattern{
    background-color: #FEFEFE;
    background-image: -webkit-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -webkit-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
    background-image: -moz-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -moz-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
    background-image: -o-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -o-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
    background-image: -ms-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -ms-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
    background-image: linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
    -webkit-background-size:30px 30px;
    -moz-background-size:30px 30px;
    background-size:30px 30px;
    background-position:0 0, 15px 15px;
}

canvas{
    background-color:transparent;
}