.project-list-item:hover{
    cursor:pointer !important;
    background-color:#029ae7 !important;
}

body{
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
}

#tileset-container{
    border:1px solid black;
    width:300px;
    height:250px;
    overflow-x:hidden;
}


.tools{
    overflow:hidden;
    width:1200px;
    margin:auto;
}

#container-a{
    border:1px solid black;
    width:300px;
    height:500px;
    float:left;
}

#container-b{
    width:800px;
    border:1px solid black;
    float:left;
    height:500px;
}

