.tree li {
    list-style: none;
    z-index: 2;
}

.space:before {
    content: '\00a0\00a0\00a0';
    border-top: 1px dashed #C0C0C0  ;
    border-left: 1px dashed #C0C0C0  ;
    position: relative;
    top: 9px;
    left: 5px;
}

.tree ul > li:last-child .space:before, ul.tree > li:last-child .space:before {
    border-top: none;
    border-bottom: 1px dashed #C0C0C0  ;
    top: -7px;
}

.tree li.expanded:before {
    border-left: 1px dashed #C0C0C0  ;
    display: block;
    height: 100%;
    width: 1px;
    content: '';
    position: absolute;
    top: 20px;
    left: 5px;
}

.tree ul > li:first-child:after {
    border-left: 1px dashed #C0C0C0  ;
    display: block;
    content: '';
    height: 10px;
    position: absolute;
    left: 5px;
    top: -2px;
}

.tree li.closed:before {
    border-left: 1px dashed #C0C0C0  ;
    display: block;
    height: 8px;
    width: 1px;
    content: '';
    position: absolute;
    top: 20px;
    left: 5px;
}

.space {
    position: relative;
    bottom:4px;
}

.tree {
    padding-left: 0;
}

ul.tree {
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px dashed #C0C0C0 ;
    width:100%;
}

.tree li {
    position: relative;
}


.tree .fa {
    z-index: 2;
    position:absolute;
    left:14px;
}

.tree .title{
    display:inline-block;
    position:relative;
    left:20px;
    top:-3px;
}

.tree .title.title-folder{
    left:30px;
}

.tree .toggle{
    left:0;
}

.expanded > ul {
    display: block !important;
}

.tree ul {
    padding-left:13px;
}

.tree li,.tree ul{
    position:relative;
}

ul.tree{
    padding-top:5px;
    padding-left:5px;
}


.icon:hover, .toggle:hover,.title:hover{
    cursor: pointer;
}

.toggle{
    font-size:10px;
}

